*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#slider{
   padding-top: 30px;
}

#img-container{
   margin: auto;
   position: relative;
   height: 500px;
   max-width: 640px;
}

.slide-img{
   transition: opacity .5s;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 100%;
   max-height: 100%;
}

.slide-img.selected{opacity: 1;}

.circles{
   font-size: clamp(12px, 5vw, 16px);
   display: flex;
   justify-content: center;
   gap: 1.2em;
   padding: 10px;
}

.circle{
   cursor: pointer;
   display: inline-block;
   width: 2em;
   height: 2em;
   border-radius: 50%;
   background-color: rgb(190, 190, 190);
}

.circle:hover{background-color: rgb(150, 150, 150);}

.circle:active{background-color: rgb(130, 130, 130);}

.circle.selected{background-color: rgb(100, 100, 100);}